<% @users.each do |user| %>
    <div class="badge bg-secondary fst-italic">
    <% if user.user_teams.count > 0 %>
    <h1><%= "#{user.username.upcase}'S TEAMS" %></h1>
    <% end %>
    </div>
    <% user.user_teams.each do |user_team|%>
    <h2><u><%= user_team.name %></u></h2>
    <% user_team.players.each do |player| %>
    <h3><li><a href="/players/<%=player.id%>"><%= "#{player.first_name} #{player.last_name} - #{player.nba_team.full_name}" %></a></li></h3>
    <% end %>
    <% end %>
    <% end %>

   