
    <h1><%= "User: #{@user.username}" %></h1>
    <% @user.user_teams.each do |user_team|%>
    <h2><u><%= user_team.name %></u>
    <form action="/user-teams/<%= user_team.id %>/edit" method="get">
    <input type="submit" value="Edit Team">
    </form>
    </h2>
    
    <% user_team.players.each do |player| %>
    <h3><li><%= "#{player.first_name} #{player.last_name} - #{player.nba_team.full_name}" %></li></h3>
    <% end %>
    <% end %>
    

<form action="/user-teams/new" method="GET">
    <input type="submit" value="Create New Team">
</form>

<form action="/user-teams/:id/edit" method="get">
    <input type="submit" value="Edit Team">
</form>

