<% flash.keys.each do |type| %>
    <div data-alert class="flash <%= type %> alert-box radius">
      <%= flash[type] %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>

<% if logged_in? %>
<br><br>
<form action="/logout" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Logout">
</form>

<form action="/users/<%= session["user_id"] %>" method="get">
    <input type="submit" value="My Teams">
</form>

<form action="/user-teams" method="get">
    <input type="submit" value="View All Teams">
</form>

<form action="/players" method="get">
    <input type="submit" value="View Players">
</form>

<% end %>





<%= yield %>

